<div>
    <app-navbar></app-navbar>
    <hr>
   
    <div class="" style="background-color: black;">
        <h1 class="heading">About</h1>
        <hr>
    </div>
    
     
    <br><br>
      <div class=" main-about">
        <div class="container sec one row col-md-12">
            <h2 class="col-md-2">Vision</h2>
            <p class='col-md-8 one'>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Est architecto laborum perferendis eius, ut ipsam doloribus alias minima necessitatibus
                 excepturi nulla delectus doloremque ullam distinctio facere consequuntur repellat hic odio?
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore placeat iste, dolorem quas nesciunt odio iure cupiditate eos 
          aliquid dolorum ipsa ex exercitationem, voluptate laborum numquam similique veniam ab! Assumenda!
                </p>
          </div>
          <br><br>
          <div class="container sec one row col-md-12">
            <h2 class="col-md-2">Mission</h2>
            <p class='col-md-8 '>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Est architecto laborum perferendis eius, ut ipsam doloribus alias minima necessitatibus
                 excepturi nulla delectus doloremque ullam distinctio facere consequuntur repellat hic odio?
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore placeat iste, dolorem quas nesciunt odio iure cupiditate eos 
          aliquid dolorum ipsa ex exercitationem, voluptate laborum numquam similique veniam ab! Assumenda!
                </p>
          </div>
      </div>
    
</div>